/* styles.css */

/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 页面头部样式 */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* 页面主体部分 */
main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

/* 页面底部样式 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
